
<div class="container-fluid">
    <div class="row">
        <div style="background-image: url('assets/img/why3.jpeg');">
            <div class="dark-opaqued-half section-inner pad-sides-60 match-height" data-mh="promo-inner">
                <h3 class="mb50">Why Choose Us?<span class="theme-accent-color"></span></h3>
                <p class="lead mb50">
                    Tunisia Sport Adventures provides people from all over the world the
                    opportunity to participate in the incredible sporting events in the
                    beautiful country of Tunisia. Tunisia has a variety of beautiful and unique
                    landscapes. There are multiple mountain ranges, Mediterranean coastlines,
                    and the Sahara desert. Tunisia also has rich culture and renowned ancient
                    ruins. Register for one of our events and experience the perfect mix of
                    location, history, and athletics.</p>
                <div class="spacer-180"></div>
               
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
