
<section class="dark-wrapper opaqued parallax" data-parallax="scroll" style="background-image: url('assets/img/bg/tunisia.jpg');background-size: 100%;"
data-speed="0.8">
<div class="section-inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb100">
                <h2 class="section-heading"><span class="theme-accent-color">Login</span> </h2>
                <hr class="thin-hr">

            </div>
        </div>
    </div>
    <div class="container">


        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div id="message" class="col-md-12 col-lg-12"></div>
                    <form id="contactform"
                        class="form-group main-contact-form col-md-12 col-lg-12  wow fadeIn" data-wow-delay="0.2s">
                        <input type="text" style="color:white" class="form-control col-md-6 col-lg-12" placeholder="Email *" id="name"
                            required [(ngModel)]="user.email" [ngModelOptions]="{standalone:true}" /> <br><br><br>
                    
                        <input type="password" style="color:white" class="form-control col-md-6 col-lg-12" placeholder="Password *" id="name"
                            required [(ngModel)]="user.password" [ngModelOptions]="{standalone:true}" /> <br>
                      
                 
                        <input class="btn btn-primary btn-white mt30 pull-right" type="submit" name="submit"
                            value="Login " style="margin-right: 45%;" (click)="login()"/>
                            
                           
                          
                </form>
                <p style="text-align: center; font-size:large;">Register from<button (click)="goTo()" style="color: red;background-color: transparent;border: none;"> here </button></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<app-footer></app-footer>