<section class="dark-wrapper opaqued parallax" data-parallax="scroll"data-speed="0.8">
    <div class="section-inner">
     
        <div class="container">
          <div>
            
            <div class="col-lg-12 text-center mb100">
                <h2 class="section-heading" ><span class="theme-accent-color">{{event.name}}</span> </h2>
               
            </div>
            <div class="col-md-6">
            
                       <picture class="lateral-picture">
                          <img [src]=event.img alt="">
                       </picture>
              
              <!-- END widget-->
            </div>
            <div class="col-md-6">
              <!-- START widget-->
              <div class="panel widget"  style="background-color: transparent;">
                 <div class="row row-table row-flush">
                   
                    <div class="col-xs-7 align-middle p-lg" style="color: white; font-size: 600px; font-family:Verdana, Geneva, Tahoma, sans-serif" >
                      
                       <p>
                          <span class="text-lg" style="color: rgb(207, 30, 30); font-weight: bold;" >  ${{event.price}}</span></p>
                       <p>
                          <strong> Date: {{event.date}}</strong>
                       </p>
                       <p> Description: {{event.description}}</p>
                    </div>
                   
                   
                 </div>
              </div >
             
              <!-- END widget-->
            </div>
        
        </div>
   </div>
  
  </div>
</section>
      