<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 nopadding-lr dark-wrapper opaqued background-cover left-half" style="background-image: url('assets/img/bg/tunisia.jpg'); width: 50%; height: 100%;">
            <div class="dark-opaqued-half section-inner pad-sides-60 match-height" data-mh="promo-inner">
                
                <div class="spacer-180"></div>
              
            </div>
        </div>

        <div class="col-sm-6 nopadding-lr dark-wrapper opaqued background-cover right-half" >
            <div class="dark-opaqued-half section-inner pad-sides-60 match-height text-right" data-mh="promo-inner">
                <p class="lead mb50" style="text-align: center; color:brown;font-size:xx-large;">Tunisia</p>
                <p class="lead mb50">From fascinating sandy beaches drenched in sunshine to grand ancient ruins and the vast, rolling dunes of the Sahara, Tunisia encapsulates everything that’s enticing about North Africa. Located just a stone’s throw from Europe, Tunisia sits on the Mediterranean coast, midway between the Atlantic Ocean and the Nile Delta.</p>
                <div class="spacer-180"></div>
              
            </div>
        </div>
    </div>
</div>
